<a href="#" class="pay-with-dotpay-btn"><%= image_tag 'spree/frontend/pay_with_dotpay.gif' %></a>

<script type="text/javascript">
$(document).ready(function() {
  $('.pay-with-dotpay-btn').on('click', function(e) {
    e.preventDefault();
    $('#dotpay-form').submit();
  })
})
</script>